blockquote {
    background-color: #fff;
    background-color: #fff;
    background-color: #fff;
    background-color: #7fcbfd;
    background-color: #45a4e2;
    background-color: #fff;
    background-color: #fff;
}